body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80%;
  margin: 40px auto;
}

.box {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.b1 { background: #00C8FF; }
.b2 { background: #FF4500; }
.b3 { background: #4775FF; }
.b4 { background: #FFD700; }
.b5 { background: #9B30FF; }
.b6 { background: #32CD32; }
.b7 { background: #FF8C69; }
.b8 { background: #26C6DA; }
.b9 { background: #7A0000; }
